
.filter-btn-active {
  background-color: rgb(7, 7, 55);
  border-radius: 4px;
  border: 1px solid rgb(7, 7, 55);
  color: #ffffff;
  padding: 4px 10px;
}

.is-done .spn{
  opacity: .5;
  text-decoration: line-through;
}

.task {
  font-weight: bold;
}

.input-error {
  border: 2px solid red;
  outline: none;
}